<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="stsim-farsite" displayName="STSim FARSITE Extensions" version="3.1.40" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="stsim-farsite" displayName="STSim FARSITE Extensions" isAddOn="True" extendsModel="stsim" previousNames="farsite-add-on-transformer|stsim-farsite:add-on-transformer">
        <runtime>
          <transformer name="stsim-farsite:runtime"/>
        </runtime>
      </transformer>
      <transformer name="stsim-farsite:runtime" displayName="STSim FARSITE Extensions" className="SyncroSim.StochasticTime.StochasticTimeExternalAddOn" classAssembly="SyncroSim.StochasticTime" externalProgramName="Scripts\farsite.bat" beforeTimestep="True" extendsTransformer="stsim:runtime" environmentSheet="Farsite_Environment">
        <datafeeds>
          <datafeed name="stsim-farsite:environment-datafeed" displayName="FARSITE" dataScope="Library">
            <datasheets>
              <datasheet name="Farsite_Environment" displayName="FARSITE Environment">
                <columns>
                  <column name="EnvironmentID" dataType="Integer" isPrimary="True"/>
                  <column name="Name" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
                <defaultRecords>
                  <record columns="Name|Value" values="SSIM_FARSITE_MODULE_BATCH_FILE_LOCATION|c:\OSGeo4W64\bin"/>
                </defaultRecords>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-farsite:options-datafeed" displayName="FARSITE" dataScope="Scenario">
            <datasheets>
              <datasheet name="Farsite_Options" displayName="FARSITE Options" isSingleRow="True">
                <columns>
                  <column name="OptionsID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Enabled" displayName="Enabled" dataType="Boolean" allowDbNull ="False" />
                  <column name="TimestepFrequency" displayName="Timestep Frequency" dataType="Integer" validationType="WholeNumber" format="d" allowDbNull="False" />
                  <column name="FuelModelStateAttributeTypeID" dataType="Integer" displayName="Fuel Model State Attribute Type" validationType="Datasheet" formula1="STSim_StateAttributeType" allowDbNull="False"/>
                  <column name="CanopyCoverStateAttributeTypeID" dataType="Integer" displayName="Canopy Cover State Attribute Type" validationType="Datasheet" formula1="STSim_StateAttributeType" allowDbNull="True"/>
                  <column name="TransitionGroupID" dataType="Integer" displayName="Transition Group" validationType="Datasheet" formula1="STSim_TransitionGroup" allowDbNull="False"/>
                  <column name="TransitionMultiplierTypeID" dataType="Integer" displayName="Multiplier Type" validationType="Datasheet" formula1="STSim_TransitionMultiplierType" isOptional="True"/>
                  <column name="ElevationRasterFile" displayName="Elevation File Name" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="TIF Files|*.tif"/>
                  <column name="SlopeRasterFile" displayName="Slope File Name" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="TIF Files|*.tif"/>
                  <column name="AspectRasterFile" displayName="Aspect File Name" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="TIF Files|*.tif"/>
                  <column name="NumIgnitionsPerTimestep" displayName="Number Ignitions Per Timestep" dataType="Integer" validationCondition="Greater" formula1="0" allowDbNull="False"/>
                  <column name="DistForNumIgnitions" displayName="Distribution for Number Ignitions" dataType="Integer" validationType="List" formula1="0:Fixed|1:Poisson" allowDbNull="False"/>
                  <column name="FireSeasonStartJulianDay" displayName="Fire Season Start Julian Day" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d" allowDbNull="False"/>
                  <column name="FireSeasonEndJulianDay" displayName="Fire Season End Julian Day" dataType="Integer" defaultValue="365" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d" allowDbNull="False"/>
                  <column name="MeanFireDurationHours" displayName="Mean Fire Duration Hours" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0.0" allowDbNull="False"/>
                  <column name="WeatherMinTemp" displayName="Weather Minimum Temperature (&#176;F)" dataType="Integer" allowDbNull="False"/>
                  <column name="WeatherMaxTemp" displayName="Weather Maximum Temperature (&#176;F)" dataType="Integer" allowDbNull="False"/>
                  <column name="WeatherMinTempHour" displayName="Weather Minimum Temp (hr)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="23" format="d" allowDbNull="False"/>
                  <column name="WeatherMaxTempHour" displayName="Weather Maximum Temp (hr)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="23" format="d" allowDbNull="False"/>
                  <column name="WeatherMinHumidity" displayName="Weather Minimum Humidity (%)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="99" format="d" allowDbNull="False"/>
                  <column name="WeatherMaxHumidity" displayName="Weather Maximum Humidity (%)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="99" format="d" allowDbNull="False"/>
                  <column name="WeatherElevation" displayName="Weather Elevation (ft)" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" allowDbNull="False"/>
                  <column name="WeatherPrecipitation" displayName="Weather Precipitation (in)" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" allowDbNull="False"/>
                  <column name="WindSpeed" displayName="Wind Speed (mph)" dataType="Integer" validationCondition="Greater" formula1="0" IsOptional="False"/>
                  <column name="WindDirection" displayName="Wind Direction (&#176;)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="359" format="d" allowDbNull="False"/>
                  <column name="CloudCoverPercent" displayName="Cloud Cover (%)" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="0" formula2="100" format="d" allowDbNull="False"/>
                  <column name="FuelMoisture1" displayName="Fuel Moisture 1 hour (%)" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" allowDbNull="False"/>
                  <column name="FuelMoisture10" displayName="Fuel Moisture 10 hour (%)" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" allowDbNull="False"/>
                  <column name="FuelMoisture100" displayName="Fuel Moisture 100 hour (%)" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" allowDbNull="False"/>
                  <column name="FuelMoistureLiveHerb" displayName="Fuel Moisture Live Herbaceous (%)" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual"  formula1="0" allowDbNull="False"/>
                  <column name="FuelMoistureLiveWoody" displayName="Fuel Moisture Live Woody (%)" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual"  formula1="0" allowDbNull="False"/>
                  <column name="TimeStepResolutionMinutes" displayName="Time Step Resolution (min)" defaultValue="10" dataType="Integer" validationCondition="Greater" formula1="0" allowDbNull="False"/>
                  <column name="DistanceResolution" displayName="Distance Resolution" dataType="Integer" defaultValue="100" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="500" format="d" allowDbNull="False"/>
                  <column name="PerimeterResolution" displayName="Perimeter Resolution" dataType="Integer" defaultValue="100" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="500" format="d" allowDbNull="False"/>
                  <column name="FarsiteAccelerationOn" displayName="Acceleration On" dataType="Boolean"/>
                  <column name="SaveIntermediateFiles" displayName="Save Intermediate Files" dataType="Boolean"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" insertAfter="stime:option-datafeed">
        <item name="stsim-farsite:environment-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <item name="stsim-farsite:options-datafeed"/>
      </layout>
    </layouts>
    <vizualizers>
      <visualizer 
        name="stsim-farsite:environment-datafeed-visualizer" 
        target="stsim-farsite:environment-datafeed" 
        className="SyncroSim.Core.Forms.EnvironmentVariablesDataFeedView" 
        classAssembly="SyncroSim.Core.Forms">
      </visualizer>
    </vizualizers>
  </module>
</configuration>
